* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: 'Montserrat', sans-serif;
}

.sectionOne {
  height: 100vh
}

.overlay2 {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #48A9A6;
}

.overlay {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #101010;

}

.overlay p {
  font-size: 300px;
  font-weight: 800;\

}

.screen {
  color: #323232;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bgImg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

.bgImg2 {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.bgImg, .bgImg2, .overlay, .overlay2{
  overflow-y: scroll;
}

button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #636363;
  font-size: 42px;
  -webkit-animation: colorchange 0.5s infinite alternate;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #636363;
  font-size: 42px;
  padding: 0.4em 1em;
  position: absolute;
  top: 40%;
  left: 46%;
  transform: translate(-50%, -50%);
}

.enterText {
  position: absolute;
  white-space: nowrap;
}

.enterText span {
  opacity: 0;
  animation: appear-text 0.0001s linear forwards;
  animation-delay: 1.4s;
}

.enterText:after {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  width: 0%;
  height: 100%;
  background: #636363;
  animation: enterText 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  animation-delay: 1s;
}

.testHeader {
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-family: 'News Cycle', sans-serif;
  z-index: -1;
  font-size: 10vw;
  top: 10%;
}

.transision {
background-color: #101010;
 min-height: 100px;
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

.transision h1 {
  position:  relative;
  text-align: center;
  vertical-align: middle;
}

.sectionTwo{
   background-image: url("cliff.jpg");
   height:  100vh;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   z-index: 1;
}
.sectionTwoText{
  text-align: center;
  position: relative;
}
