
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* nav bar */
/* hidden color */
.page {
  background-color: #96B2C6;
  height: 300%;
}

/* navbar color */
.navContent {
  z-index: -4;
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
  transition: transform 0.7s 0s cubic-bezier(1, 0.005, 0.24, 1),
    -webkit-transform 0.7s 0s cubic-bezier(1, 0.005, 0.24, 1);
}

.contentInner {
  min-height: 100vh;
  background-color: #d9e9f4;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
  height: 50%;
  line-height: 30px;
  -webkit-transition-delay: 0.7s;
       -o-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.swing .contentInner {
  min-height: 200vh;
  -webkit-transition: min-height 0s;
  -o-transition: min-height 0s;
  transition: min-height 0s;
}

/* menu color */
.menuToggle {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  cursor: pointer;
  width: 100px;
  height: 80px;
  background-color: #4f5c5d;
  border-bottom-right-radius: 100%;
}

.menuToggle:active i {
  opacity: 0.8;
}

/* menu icon color */
.menuToggle i {
  color: #fff;
}

.menuToggle .menuOpen,
.menuToggle .menuClose {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -12px;
  transition: transform 0.7s cubic-bezier(1, 0.005, 0.25, 1),
    -webkit-transform 0.7s cubic-bezier(1, 0.005, 0.25, 1);
}

.menuToggle .menuOpen {
  -webkit-transform-origin: -100px -100px;
      -ms-transform-origin: -100px -100px;
          transform-origin: -100px -100px;
}

.menuToggle .menuClose {
  -webkit-transform: rotate(20deg);
      -ms-transform: rotate(20deg);
          transform: rotate(20deg);
  -webkit-transform-origin: -100px -160px;
      -ms-transform-origin: -100px -160px;
          transform-origin: -100px -160px;
}

.menu {
  position: fixed;
  bottom: 0;
  left: 50px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.logo {
  font-size: 1500%;
  text-align: center;
  padding-top: 120px;
  color: #59646b;
}

.menu li {
  font-family: 'Raleway', sans-serif;
  height: 60px;
  font-size: 25px;
  margin-bottom: 30px;
  -webkit-transform: translateX(-300px);
      -ms-transform: translateX(-300px);
          transform: translateX(-300px);
  transition: transform 0.7s 0s cubic-bezier(1, 0.005, 0.24, 1),
    -webkit-transform 0.7s 0s cubic-bezier(1, 0.005, 0.24, 1);
  cursor: pointer;
}

.menu li:nth-child(2) {
  margin-left: 40px;
}

.menu li:nth-child(3) {
  margin-left: 80px;
}

.menu li:nth-child(4) {
  margin-left: 110px;
}
.menu li:nth-child(4) {
  margin-left: 110px;
}
.menucloser{
  padding: 10px 10px 10px 10px;
  z-index: 20;
  z-index: 20;
margin-top: -107px;
}
.swing .box{
    padding: 84px 98px 14px 14px;
    margin-top: -6px;
    margin-left: -3px;
    position: absolute;
}

.swing .overlay .overlay2 .menu a {
  color: #676e6a;
  display: block;
  text-decoration: none;
  letter-spacing: 2px;
  -webkit-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s;
}

.menu a:hover {
  color: #9fa8a3;
}

.swing .navContent {
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.swing .menuOpen {
  -webkit-transform: rotate(-20deg);
      -ms-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.swing .menuClose {
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}

.swing {}

.swing .menu li {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  transition: transform 0.35s 0.45s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    -webkit-tranform 0.35s 0.45s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.swing .menu li:nth-child(2) {
  -webkit-transition-delay: 0.47s;
       -o-transition-delay: 0.47s;
          transition-delay: 0.47s;
}

.swing .menu li:nth-child(3) {
  -webkit-transition-delay: 0.48s;
       -o-transition-delay: 0.48s;
          transition-delay: 0.48s;
}

.swing .menu li:nth-child(4) {
  -webkit-transition-delay: 0.49s;
       -o-transition-delay: 0.49s;
          transition-delay: 0.49s;
}

/* content display */
.lastName {
  font-family: 'Raleway', sans-serif;
  font-size: 200%;
  text-align: center;
  color: #59646B;
  font-weight: 400;
  font-size: 66px;
}

.firstname {
  color: #22303A;
  font-weight: 900;
}

.pageAbout {
  overflow: auto;
  margin-left: 15%;
  margin-right: 15%;
  position: relative;
  background-color: white;
  -webkit-box-shadow: inset 54px 50px 80px -21px rgba(0, 0, 0, 0.75);
  box-shadow: inset 54px 50px 80px -21px rgba(0, 0, 0, 0.75);
  font-family: 'Raleway', sans-serif;
  border-radius: 3%;
  padding-top: 15px;
  text-align: center;
  -webkit-box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.38);
  box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.38);
}

.pageAbout h1 {
  text-align: center;
}

.pageHome h2 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  padding-top: 15px;
  font-size: 20px;
}

.pageHome br {
  display: none;
}

.pageAbout p {
  margin: 0 auto;
  max-width: 560px;
  text-align: left;
}

.pageAbout img {
  width: 75%;
  border-radius: 15px;
}

.contentInner {
  -webkit-box-shadow: inset 200px 200px 221px -121px rgba(0, 0, 0, 0.42);
  box-shadow: inset 200px 200px 221px -121px rgba(0, 0, 0, 0.42);
  padding: 100px 100px 100px 100px;
  -webkit-box-shadow: 13px 9px 41px -6px rgba(0, 0, 0, 0.38);
  box-shadow: 13px 9px 41px -6px rgba(0, 0, 0, 0.38);
}

.pageContact a {
  font-size:
}

.pageResume {
  font-family: 'Slabo 27px', serif;
  overflow: auto;
  margin-left: 15%;
  margin-right: 15%;
  position: relative;
  background-color: white;
  -webkit-box-shadow: inset 54px 50px 80px -21px rgba(0, 0, 0, 0.75);
  box-shadow: inset 54px 50px 80px -21px rgba(0, 0, 0, 0.75);
  border-radius: 3%;
  padding: 15px 15px 15px 15px;
  -webkit-box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.38);
  box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.38);
}

.pageResume h1{
  text-align: center;
}
.pageResume ul{
  text-align: left;
  padding-left: 15px;
  font-size: 110%
}
.pageResume h2{
  text-align: left;
  padding-left: 10px;
}
.pageResume p{
  padding-left: 30px;
  font-size: 90%
}
  -webkit-box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.38);
  box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.38);
  padding-bottom: 11in;
  padding-right: 8in;
  text-align: center;
  border-radius: 8px;

}
.pageResume li{
  text-align: left;
}

.pageResume h1 {
  text-align: center;
}

/* landing animation */
.landingPage {
  background-color: #adadad;
}

.overlay2 {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #4f5c5d;
}

.overlay {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #262625;
}

.overlay p {
  font-size: 300px;
  font-weight: 800;
}

.screen {
  color: #323232;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: 12%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.newBt {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #636363;
  font-size: 42px;
  -webkit-animation: colorchange 0.5s infinite alternate;
}

.enterText {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #636363;
  font-size: 42px;
  padding: 0.4em 1em;
  position: absolute;
  top: 40%;
  left: 46%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.enterText {
  position: absolute;
  white-space: nowrap;
}

.enterText span {
  opacity: 0;
  -webkit-animation: appear-text 0.0001s linear forwards;
          animation: appear-text 0.0001s linear forwards;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.enterText:after {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  width: 0%;
  height: 100%;
  background: #636363;
  -webkit-animation: enterText 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
          animation: enterText 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes enterText {
  0% {
    left: 0;
    width: 0%;
  }

  50% {
    left: 0%;
    width: 100%;
  }

  100% {
    left: 100%;
    width: 0%;
  }
}

@keyframes enterText {
  0% {
    left: 0;
    width: 0%;
  }

  50% {
    left: 0%;
    width: 100%;
  }

  100% {
    left: 100%;
    width: 0%;
  }
}

@-webkit-keyframes appear-text {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes appear-text {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#click {
  top: 47%;
  left: 50%;
}

#click span {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

#click.enterText:after {
  background: #fff;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

@-webkit-keyframes colorchange {
  0% {
    color: #636363;
  }

  100% {
    color: #ffff;
  }
}
