/* NOTE: Mobile */
@media only screen and (max-width: 600px) {
      h1 {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        color: #636363;
        font-size: 30px;
        padding: 0.4em 1em;
        position: absolute;
        top: 40%;
        left: 46%;
        transform: translate(-50%, -50%);
    }
    button {
      background: none;
      border: none;
      margin: 0;
      padding: 0;
      cursor: pointer;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      color: #636363;
      font-size: 30px;
      -webkit-animation: colorchange 0.5s infinite alternate;
    }
    #click {
      top: 47%;
      left: 70%;
    }
    .bgImg2, .bgImg {
    left: 50%;
   margin-left: -512px;   /* 50% */
 }
}


/* NOTE: Animations */

@keyframes enterText {
  0% {
    left: 0;
    width: 0%;
  }

  50% {
    left: 0%;
    width: 100%;
  }

  100% {
    left: 100%;
    width: 0%;
  }
}

@keyframes appear-text {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#click {
  top: 47%;
  left: 50%;
}

#click span {
  animation-delay: 2s;
}

#click.enterText:after {
  background: #fff;
  animation-delay: 1.4s;
}

@-webkit-keyframes colorchange {
  0% {
    color: #636363;
  }

  100% {
    color: #ffff;
  }
}
