
/* NOTE: Mobile */
@media only screen and (max-width: 600px) {
  .enterText {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #636363;
    font-size: 30px;
    padding: 0.4em 1em;
    position: absolute;
    top: 40%;
    left: 46%;
    transform: translate(-50%, -50%);

  }
  html {
    overflow: hidden;
  }
  .newBt {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #636363;
    font-size: 30px;
  }

  .transisionImg {
    display: none;
  }

  #click {
    top: 47%;
    left: 60%;
  }

  .bgImg2, .bgImg {
    left: 50%;
    margin-left: -512px;
    /* 50% */
  }

  .sectionTwo {
    left: 50%;
    margin-left: -512px;
  }

  .testHeader {
    font-size: 10vw;
  }
}
.firstname{
  display: none;


}
.pageHome {
margin: 0 auto;
 font-size: 1em;
}
/* menu padding */
.menu {
  position: fixed;
  top: 200px;
  left: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu li {
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  height: 40px;
  margin-top: 30px;
  transform: translateX(-300px);
  transition: transform 0.7s 0s cubic-bezier(1.5, 1.105, 0.24, 1),
    -webkit-transform 0.7s 0s cubic-bezier(1.5, 1.105, 0.24, 1);
  cursor: pointer;
}
.menu li:nth-child(2) {
  margin-left: 35px;
}

.menu li:nth-child(3) {
  margin-left: 60px;
}

.menu li:nth-child(4) {
  margin-left: 100px;
}

/* iphone X */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {

}
